
@{
    ViewBag.Title = "NewStrategy";
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>新建攻略</title>
    <!--<link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700" media="all" rel="stylesheet" type="text/css" />-->
    <link href="../stylesheets/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="../stylesheets/font-awesome.css" media="all" rel="stylesheet" type="text/css" />
    <link href="../stylesheets/se7en-font.css" media="all" rel="stylesheet" type="text/css" />
    <link href="../stylesheets/isotope.css" media="all" rel="stylesheet" type="text/css" />
    <link href="../stylesheets/jquery.fancybox.css" media="all" rel="stylesheet" type="text/css" />
    <link href="../stylesheets/fullcalendar.css" media="all" rel="stylesheet" type="text/css" />
    <link href="../stylesheets/wizard.css" media="all" rel="stylesheet" type="text/css" />
    <link href="../stylesheets/select2.css" media="all" rel="stylesheet" type="text/css" />
    <link href="../stylesheets/morris.css" media="all" rel="stylesheet" type="text/css" />
    <link href="../stylesheets/datatables.css" media="all" rel="stylesheet" type="text/css" />
    <link href="../stylesheets/datepicker.css" media="all" rel="stylesheet" type="text/css" />
    <link href="../stylesheets/timepicker.css" media="all" rel="stylesheet" type="text/css" />
    <link href="../stylesheets/colorpicker.css" media="all" rel="stylesheet" type="text/css" />
    <link href="../stylesheets/bootstrap-switch.css" media="all" rel="stylesheet" type="text/css" />
    <link href="../stylesheets/daterange-picker.css" media="all" rel="stylesheet" type="text/css" />
    <link href="../stylesheets/typeahead.css" media="all" rel="stylesheet" type="text/css" />
    <link href="../stylesheets/summernote.css" media="all" rel="stylesheet" type="text/css" />
    <link href="../stylesheets/pygments.css" media="all" rel="stylesheet" type="text/css" />
    <link href="../stylesheets/style.css" media="all" rel="stylesheet" type="text/css" />
    <link href="../stylesheets/color/green.css" media="all" rel="alternate stylesheet" title="green-theme" type="text/css" />
    <link href="../stylesheets/color/orange.css" media="all" rel="alternate stylesheet" title="orange-theme" type="text/css" />
    <link href="../stylesheets/color/magenta.css" media="all" rel="alternate stylesheet" title="magenta-theme" type="text/css" />
    <link href="../stylesheets/color/gray.css" media="all" rel="alternate stylesheet" title="gray-theme" type="text/css" />
    <script src="../javascripts/jquery.min.js" type="text/javascript"></script>
    <script src="../javascripts/jquery-ui.js" type="text/javascript"></script>
    <script src="../javascripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="../javascripts/raphael.min.js" type="text/javascript"></script>
    <script src="../javascripts/selectivizr-min.js" type="text/javascript"></script>
    <script src="../javascripts/jquery.mousewheel.js" type="text/javascript"></script>
    <script src="../javascripts/jquery.vmap.min.js" type="text/javascript"></script>
    <script src="../javascripts/jquery.vmap.sampledata.js" type="text/javascript"></script>
    <script src="../javascripts/jquery.vmap.world.js" type="text/javascript"></script>
    <script src="../javascripts/jquery.bootstrap.wizard.js" type="text/javascript"></script>
    <script src="../javascripts/fullcalendar.min.js" type="text/javascript"></script>
    <script src="../javascripts/gcal.js" type="text/javascript"></script>
    <script src="../javascripts/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="../javascripts/datatable-editable.js" type="text/javascript"></script>
    <script src="../javascripts/jquery.easy-pie-chart.js" type="text/javascript"></script>
    <script src="../javascripts/excanvas.min.js" type="text/javascript"></script>
    <script src="../javascripts/jquery.isotope.min.js" type="text/javascript"></script>
    <script src="../javascripts/isotope_extras.js" type="text/javascript"></script>
    <script src="../javascripts/modernizr.custom.js" type="text/javascript"></script>
    <script src="../javascripts/jquery.fancybox.pack.js" type="text/javascript"></script>
    <script src="../javascripts/select2.js" type="text/javascript"></script>
    <script src="../javascripts/styleswitcher.js" type="text/javascript"></script>
    <script src="../javascripts/wysiwyg.js" type="text/javascript"></script>
    <script src="../javascripts/summernote.min.js" type="text/javascript"></script>
    <script src="../javascripts/jquery.inputmask.min.js" type="text/javascript"></script>
    <script src="../javascripts/jquery.validate.js" type="text/javascript"></script>
    <script src="../javascripts/bootstrap-fileupload.js" type="text/javascript"></script>
    <script src="../javascripts/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="../javascripts/bootstrap-timepicker.js" type="text/javascript"></script>
    <script src="../javascripts/bootstrap-colorpicker.js" type="text/javascript"></script>
    <script src="../javascripts/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="../javascripts/typeahead.js" type="text/javascript"></script>
    <script src="../javascripts/daterange-picker.js" type="text/javascript"></script>
    <script src="../javascripts/date.js" type="text/javascript"></script>
    <script src="../javascripts/morris.min.js" type="text/javascript"></script>
    <script src="../javascripts/skycons.js" type="text/javascript"></script>
    <script src="../javascripts/fitvids.js" type="text/javascript"></script>
    <script src="../javascripts/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="../javascripts/main.js" type="text/javascript"></script>
    <script src="../javascripts/respond.js" type="text/javascript"></script>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

</head>
<body>
    <div class="modal-shiftfix">
        <!-- Navigation -->
        <div class="navbar navbar-fixed-top scroll-hide">
            <div class="container-fluid top-bar">
                <div class="pull-right">
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown settings hidden-xs">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span aria-hidden="true" class="se7en-gear"></span>
                                <div class="sr-only">
                                    Settings
                                </div>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="settings-link blue" href="javascript:chooseStyle('none', 30)"><span></span>天空蓝</a>
                                </li>
                                <li>
                                    <a class="settings-link green" href="javascript:chooseStyle('green-theme', 30)"><span></span>森林绿</a>
                                </li>
                                <li>
                                    <a class="settings-link orange" href="javascript:chooseStyle('orange-theme', 30)"><span></span>橘子黄</a>
                                </li>
                                <li>
                                    <a class="settings-link magenta" href="javascript:chooseStyle('magenta-theme', 30)"><span></span>罗兰紫</a>
                                </li>
                                <li>
                                    <a class="settings-link gray" href="javascript:chooseStyle('gray-theme', 30)"><span></span>星空灰</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown user hidden-xs">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <img width="34" height="34" src="images/avatar-male.jpg" />邵志<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">
                                        <i class="icon-user"></i>我的账户
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-gear"></i>我的消息
                                    </a>
                                </li>
                                <li>
                                    <a href="login1.html">
                                        <i class="icon-signout"></i>退出登陆
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <button class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="logo" href="index-2.html">se7en</a>
            </div>
            <div class="container-fluid main-nav clearfix">
                <div class="nav-collapse">
                    <ul class="nav">
                        <li>
                            <a href="../HS_3DMountain/3DMountain">
                                <span aria-hidden="true" class=" icon-globe"></span>3D黄山
                            </a>
                        </li>
                        <li>
                            <a href="../HS_Map/Map">
                                <span aria-hidden="true" class="icon-map-marker"></span>我的定位
                            </a>
                        </li>
                        <li>
                            <a href="../HS_Weather/Weather">
                                <span aria-hidden="true" class="icon-sun"></span>黄山天气
                            </a>
                        </li>
                        <li>
                            <a href="../HS_MapLoad/MapLoad">
                                <span aria-hidden="true" class="icon-folder-close-alt"></span>地图下载
                            </a>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" href="#" class="current">
                                <span aria-hidden="true" class="icon-plane"></span>攻略<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="../HS_Strategy/Strategy">浏览</a>
                                </li>
                                <li>
                                    <a href="../HS_Strategy/NewStrategy" class="current">编写</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="../HS_Photo/Photo">
                                <span aria-hidden="true" class="icon-camera-retro"></span>美景
                            </a>
                        </li>
                        <li>
                            <a href="../HS_About/About">
                                <span aria-hidden="true" class="icon-paper-clip"></span>关于
                            </a>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" href="#">
                                <span aria-hidden="true" class="icon-star-empty"></span>我自己<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="../HS_MySelf/Home">主页</a>
                                </li>
                                <li>
                                    <a href="../HS_MySelf/Calendar">便签</a>
                                </li>
                                <li>
                                    <a href="../HS_MySelf/FeedBack">信息反馈</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- End Navigation -->
        <div class="container-fluid main-content">
            <div class="page-title">
                <h2 class="text">
                    编写
                </h2>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="widget-container fluid-height clearfix">
                        <div class="heading">
                            <i class="icon-bar-chart"></i>我的攻略
                        </div>
                        <div class="widget-content padded">
                            <div class="form-group">
                                <span class="control-label col-md-2" style="text-align:right;font-size:15px;font-weight:bold">标题:</span>
                                <div class="col-md-8">
                                    <input type="text" id="title" class="form-control" placeholder="请输入标题" />
                                </div>
                            </div>
                            <br /><br />
                            <div class="form-group">
                                <span class="control-label col-md-2" style="text-align:right;font-size:15px;font-weight:bold">上传封面:</span>
                                <div class="col-md-10">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new img-thumbnail" style="width: 200px; height: 150px;">
                                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists img-thumbnail" style="width: 200px; max-height: 150px" id="show"></div>
                                        <div>
                                            <span class="btn btn-default btn-file">
                                                <span class="fileupload-new">选择图片</span>
                                                <span class="fileupload-exists">更改图片</span><input type="file" accept="image/*" />
                                            </span>
                                            <a class="btn btn-default fileupload-exists" data-dismiss="fileupload" href="#">移除</a>
                                        </div>
                                    </div><br /><br />
                                </div>
                            </div>
                            <div class="form-group ">
                                <span class="control-label col-md-2" style="text-align:right;font-size:15px;font-weight:bold">攻略类型:</span>
                                <div class="col-md-1">
                                    <label class="checkbox">
                                        <input type="checkbox" class="task-input" value="" id="c1" /><span>特色美食</span>
                                    </label>
                                </div>
                                <div class="col-md-1">
                                    <label class="checkbox">
                                        <input type="checkbox" class="task-input" value="" id="c2" /><span>游山玩水</span>
                                    </label>
                                </div>
                                <div class="col-md-1">
                                    <label class="checkbox">
                                        <input type="checkbox" class="task-input" value="" id="c3" /><span>记录写实</span>
                                    </label>
                                </div>
                                <div class="col-md-1">
                                    <label class="checkbox">
                                        <input type="checkbox" class="task-input" value="" id="c4" /><span>心得体会</span>
                                    </label>
                                </div>
                                <div class="col-md-1">
                                    <label class="checkbox">
                                        <input type="checkbox" class="task-input" value="" id="c5" /><span>旅游指南</span>
                                    </label>
                                </div>
                                <span class="control-label col-md-12" style="text-align:right;font-size:15px;font-weight:bold"></span><br />
                            </div><br />
                            <div class="form-group">
                                <span class="control-label col-md-2" style="text-align:right;font-size:15px;font-weight:bold">编写内容:</span>
                                <div class="col-md-8">
                                    <div id="summernote">

                                    </div><br /><br />
                                    <button class="btn btn-success" id="submit">提交攻略</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
<script type="text/javascript">
    $("#submit").click(function () {
        if (document.getElementById("c1").checked == true) {
            $("#c1").val("特色美食");
        }
        if (document.getElementById("c2").checked == true) {
            $("#c2").val("游山玩水");
        }
        if (document.getElementById("c3").checked == true) {
            $("#c3").val("记录写实");
        }
        if (document.getElementById("c4").checked == true) {
            $("#c4").val("心得体会");
        }
        if (document.getElementById("c5").checked == true) {
            $("#c5").val("旅游指南");
        }

        var checkArr = $("#c1").val() + "|" + $("#c2").val() + "|" + $("#c3").val() + "|" + $("#c4").val() + "|" + $("#c5").val();
        var myDate = new Date().getTime();
        var title = $("#title").val();

        //处理获取封面信息
        var base64 = $("#show").children("img").attr("src");
        $("#show").children("img").attr("src", "../IMG/" + myDate + ".png");
        var show = $("#show").children("img").attr("src");

        //对富文本中图片原始数据处理
        var contentIMG = "";
        var imgArr = "";
        if ($(".note-editable").find("img").length > 0) {
            $(".note-editable img").each(function (i) {
                //判断img是否带有字符流
                if ($(this).attr("src").indexOf("base64") != -1) {
                    contentIMG += $(this).attr("src") + "|"; //获取图片组数据流
                    $(this).attr("src", "../IMG/" + myDate + i + ".png"); //将数据流替代为路径
                    imgArr += $(this).attr("src") + "|"; //获取图片组路径
                }
            });
        }
        var content = $(".note-editable").html(); //获取富文本内容

        //还原富文本、封面原始数据
        $("#show").children("img").attr("src", base64);
        if (contentIMG != "") {
            $(".note-editable img").each(function (i) {
                //判断img是否带有字符流
                if ($(this).attr("src").indexOf("IMG/") != -1) {
                    $(this).attr("src", contentIMG.split("|")[i]);
                }

            });
        }
        var reg = /[\u4e00-\u9fa5\u3002\uff1b\uff0c\uff1a\u201c\u201d\uff08\uff09\u3001\uff1f\u300a\u300b]/g;//构建正则表达式（包含汉字和汉字符号）
        //发送前检查数据
        if (title == "") {
            alert("标题不能为空！");

        }
        else if ($("#show").children("img").attr("src") == undefined) {
            alert("请上传封面！");
        }
        else if (content.match(reg) == null || content.match(reg) == "") {
            alert("请填写文字！");
        }
        else {
            $.ajax({
                type: 'POST',
                url: '../HS_Strategy/NewStrategyBusiness',
                data: { title: title, base64: base64, checkArr: checkArr, contentIMG: contentIMG, content: content, imgArr: imgArr.replace("null", ""), show: show },
                dataType: 'JSON',
                error: function () {
                    alert('提交失败！');
                    window.location.reload();
                },
                success: function (data) {
                    alert(data.message);
                    window.location.reload();
                }
            });
        }
    });
</script>
</html>


